@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*RESET*/
* {
  margin: 0px;
  padding: 0px;
}

/*FUENTES*/
.nombre-pagina {
  font-family: "bungee spice", sans-serif;
}

/*fondo*/
body {
  background-color: #141414;
}

/*HEADER*/
header {
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: #202020;
  z-index: 1000;
}

/*LOGO*/
.logo-header {
  margin: 10px;
}
.logo-header img {
  width: 70px;
  height: 90px;
  transform: scale(0.8);
}

/*TITULO*/
.nombre-pagina {
  font-family: "bungee spice", sans-serif;
  margin: 10px 10px 10px 10px;
}

/*menu desplegable*/
.navbar-toggler {
  background-color: #e65d2b;
  border: 1px solid #ffcc00;
}

.lista-menu {
  list-style-type: none;
  font-family: "montserrat", sans-serif;
  display: flex;
  flex-flow: row;
  margin: 0px;
}
.lista-menu li {
  margin: 10px 10px 10px 10px;
}
.lista-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.lista-menu li a:hover {
  color: #808080;
}

/*BARRA BUSQUEDA*/
.barra-buscar {
  width: 1000px;
  height: 50px;
  margin: auto;
}
.barra-buscar button {
  color: #e65d2b;
}

/*HEADINGS*/
.h2-titulos {
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  margin-bottom: 40px;
  margin-top: 20px;
}

.h3-titulos {
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  margin-top: 40px;
}

.h3-titulos-novedades {
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  height: 100px;
  width: 500px;
  margin: 0px 10px 0px 10px;
}

/*FOOTER*/
footer {
  background: #de7b0a;
  background: linear-gradient(90deg, #de7b0a 25%, #f96a0b 50%, #de7b0a 75%);
  height: 80px;
}
footer a {
  margin: 10px;
}

/* INDEX */
.main-index {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 60px;
}

.section1 {
  width: 30%;
  text-align: center;
}
.section1 .libros-recomendaciones-semanales {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0px;
}
.section1 li {
  display: flex;
}
.section1 img {
  height: 250px;
  width: 150px;
}
.section1 p {
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.section2y3 {
  display: flex;
  flex-flow: column wrap;
  margin: 0px 0px 0px 90px;
  text-align: center;
}
.section2y3 .section2 .libros-recien-agregados {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}
.section2y3 .section2 img {
  height: 250px;
  width: 150px;
  margin: 5px;
}
.section2y3 .section3 .libros-mas-vistos {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}
.section2y3 .section3 .libros-mas-vistos img {
  height: 250px;
  width: 150px;
  margin: 5px;
}

/*generos*/
.generos img {
  height: 250px;
  width: 250px;
}

/*MAS VISTOS*/
.section123 li {
  width: 400px;
}
.section123 li img {
  max-width: 150px;
  height: 250px;
  width: 150px;
}
.section123 li p {
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  width: 400px;
  height: 200px;
}

/*NOVEDADES*/
.section-novedades img {
  height: 300px;
  width: 300px;
  margin: 10px;
}
.section-novedades p {
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  flex-direction: column;
  height: 200px;
  width: 400px;
  margin: 0px 10px 0px 10px;
}

/*CONTACTO*/
.contacto label {
  color: #ffffff;
}
.contacto button {
  color: #e65d2b;
  margin-bottom: 10px;
}

/*MEDIA INDEX*/
@media (max-width: 1376px) {
  .main-index {
    flex-direction: column-reverse;
  }
  .section1 {
    margin: 0;
    width: 100%;
  }
  .section1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section1 p {
    width: 300px;
  }
  .section1 li {
    flex-flow: column wrap;
    align-items: center;
    width: 500px;
  }
  .section2y3 {
    margin: 0;
    align-items: center;
  }
  .section2y3 img {
    margin: 40px;
  }
}
@media (max-width: 491px) {
  .libros-recien-agregados {
    justify-content: center;
    padding: 0px;
  }
  .libros-mas-vistos {
    justify-content: center;
    padding: 0px;
  }
}
/** BARRA BUSCAR*/
@media (max-width: 575px) {
  .barra-buscar {
    width: auto;
  }
}
/** NAVBAR */
@media (max-width: 500px) {
  .lista-menu {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .section123 li p {
    height: 300px;
    width: 300px;
    margin: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
