// header nav footer, cosas generales


/*fondo*/

body {
    background-color: $color-fondo;
}

/*HEADER*/
header {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: $color-fondo-header;
    background-image: linear-gradient(to top, #202020, #252526, #2a2a2c, #2f3033, #343539, #383a3f, #3d4045, #41454b, #464b51, #4b5158, #4f585f, #545e65);    z-index: 1000;
    }

    /*LOGO*/

    .logo-header {
        margin: 10px;

        img {
            width: 70px;
            height: 90px;
            transform: scale(0.8);
    }
}

    /*TITULO*/
    .nombre-pagina {
        font-family: "bungee spice",sans-serif;
        margin: 10px 10px 10px 10px;
    }

    /*menu desplegable*/
    .navbar-toggler {
        background-color:$color-navbar-toggler;
        border: 1px solid $color-navbar-toggler-border;
    }

    .lista-menu {
        list-style-type: none;
        font-family:"montserrat",sans-serif;
        display: flex;
        flex-flow: row;
        margin: 0px;

        li {
            margin: 10px 10px 10px 10px;

            a {
                color:$color-texto-navbar;
                text-decoration: none;
                font-weight: 600;
                
                &:hover {
                    color: $color-texto-navbar-hover;
                }
            }

        }
    }

    /*BARRA BUSQUEDA*/

    .barra-buscar {
        width: 1000px;
        height: 50px;
        margin: auto;

        button {
            color:$color-barra-buscar-button;
        }
    }

    /*HEADINGS*/

    .h2-titulos {
        color:$color-h2;
        font-family: "montserrat",sans-serif;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .h3-titulos {
        color: $color-h3;
        font-family: "montserrat",sans-serif;
        margin-top: 40px;
    }

    .h3-titulos-novedades {
        color: $color-h3;
        font-family: "montserrat",sans-serif;
        height: 100px;
        width: 500px;
        margin: 0px 10px 0px 10px;
    }    

    /*FOOTER*/

    footer {
        background: #de7b0a;
        background: linear-gradient(90deg, #de7b0a 25%, #f96a0b 50%, #de7b0a 75%);
        height: 80px;
        a {
            margin: 10px;
        }
    }