
/*MAS VISTOS*/

.section123 li {
    width: 400px;

    img {
        max-width: 150px;
        @include sizes-imagenes(250px,150px);
    }

    p {
        color: $color-texto;
        font-family: "montserrat",sans-serif;
        flex-direction: row;
        justify-content: center;
        margin: 5px;
        width: 400px;
        height: 200px;
    }
}